<div class="d-flex justify-content-between align-items-center my-3">
    <h1>WIT Percentage</h1>
    <a class="btn btn-primary" asp-action="Create">Add New</a>
</div>

<table id="witTable" class="table table-striped">
    <thead>
        <tr>
            <th>WIT Percentage Value</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function(){
            $('#witTable').DataTable({
                ajax: {
                    url: "/WITPercent/GetData",
                    type: "Get"
                },
                columns: [
                    { data : "value"},
                    {
                        data: "id",
                        render: function (data) {
                            return `
                                    <a href="/WITPercent/Edit/${data}" class="btn btn-warning">Edit</a>
                                    <a href="/WITPercent/Delete/${data}" class="btn btn-danger">Delete</a>
                            `;
                        }
                    }
                ]
            })
        })
    </script>
}