@model IEnumerable<Address>


<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Addresses</h2>
    <a asp-action="Create" asp-route-partnerId="@ViewBag.PartnerId" class="btn btn-primary">Add Address</a>
</div>

<input type="hidden" id="PartnerId" value="@ViewBag.PartnerId" />

<table id="addressTable" class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Address 2</th>
            <th>Postal Code</th>
            <th>Contacts</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<a asp-action="Index" asp-controller="BusinessPartner" class="btn btn-secondary">Back to Business Partners</a>

@section Scripts {
    <script>
        $('#addressTable').DataTable({
            ajax: {
                url: '/Address/GetData',
                type: 'GET',
                data: {
                    partnerId: $('#PartnerId').val()
                }
            },
            columns: [
                { data: 'name' },
                { data: 'addressPri' },
                { data: 'addressOpt' },
                { data: 'postalCode' },
                {
                    data: 'id',
                    render: function (data) {
                        return `<a href="/Contact/Index?addressId=${data}" class="btn btn-info">Contacts</a>`;
                    }
                },
                {
                    data: 'id',
                    render: function (data) {
                        return `
                                    <a href="/Address/Edit/${data}" class="btn btn-warning">Edit</a>
                                    <form asp-action="DeleteConfirmed" asp-route-id="${data}" method="post" class="d-inline">
                                        <a href="/Address/Delete/${data}" class="btn btn-danger">Delete</a>
                                    </form>
                                `;
                    }
                }
            ]
        });
    </script>
}
