@model IEnumerable<BusinessPartner>

<div class="d-flex justify-content-between align-items-center mb-3">
    <h1>Business Partners</h1>
    <a asp-action="Create" class="btn btn-primary">Add New Partner</a>
</div>

<table id="businessPartnerTable" class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Entity Type</th>
            <th>Addresses & Contacts</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>


@section Scripts {
    <script>
        $('#businessPartnerTable').DataTable({
            ajax: {
                url: '/BusinessPartner/GetData',
                type: 'GET',
                dataSrc: 'data'
            },
            columns: [
                { data: 'name' },
                { data: 'category' },
                { data: 'entityType' },
                {
                    data: 'id',
                    render: function (data) {
                        return `
                            <a href="/Address/Index?partnerId=${data}" class="btn btn-success">Addresses</a>
                            <a href="/Contact/AllContactsForPartner?partnerId=${data}" class="btn btn-info">Contacts</a>
                        `;
                    }
                },
                {
                    data: 'id',
                    render: function (data) {
                        return `
                            <a href="/BusinessPartner/Edit/${data}" class="btn btn-warning">Edit</a>
                            <form asp-action="Delete" asp-route-id="${data}" method="post" class="d-inline">
                                <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this partner?');">Delete</button>
                            </form>
                        `;
                    }
                }
            ]
        });
    </script>
}